<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<ul class="nav justify-content-center" th:object="${userDTO}" style="margin-top: 10px">

    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           th:href="@{/api/v1/bookings/users/{userId}(userId=${userDTO.getId()})}">Мои бронирования</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/api/v1/cars/freeCars">Найти машину</a>
    </li>

    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/users/">Все пользователи</a>
    </li>


    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/bookings/">Все брони</a>
    </li>
    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/cars/">Все машины</a>
    </li>

    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/cars/creation">Добавить машину</a>
    </li>



    <form action="#" id="logout" th:action="@{/api/v1/auth/logout}" method="post"
          style="position: absolute; margin-left: 90%">
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-log-out"></span> Выход
        </button>
    </form>


</ul>

<div th:if="${!bookingsList.isEmpty() && error.isEmpty()}" style="margin: 15%;margin-top: 5%;">
    <h1>Ваши бронирования</h1>
    <li th:each="item, stat : ${bookingsList}" style="display: inline-block">

        <div class="card" style="width: 200px;padding: 1%;margin: 10px">
            <img src="https://bookingcar.eu/img/og_logo.png" class="card-img-top"
                 alt="..." style="padding:5%">
            <div class="card-body" style="position:center">
                <h5 class="card-title" th:text="${item.getBookingId()}">Card title</h5>
                <p class="card-text">
                    Клиент: <span th:text="${item.getUserId()}"></span> <br>
                    Машина:<span th:text="${item.getCarId()}"></span> <br>
                    C: <span th:text="${item.getDateFrom()}"></span> <br>
                    По: <span th:text=" ${item.getDateTo()}"></span> <br>
                    Стоимость: <span th:text=" ${item.getCost()}"></span>
                </p>
            </div>
        </div>

    </li>



</div>
<div class="alert alert-info" role="alert" th:if="${bookingsList.isEmpty() && error.isEmpty()}">
    У вас еще нет бронирований! <a href="/api/v1/cars/freeCars" class="alert-link">Забронируйте прямо сейчас!</a>.
</div>

<div class="alert alert-warning" role="alert" th:if="${!error.isEmpty()}">
    Просим прощения, произошла ошибочка! <span th:text="${error}"></span>
</div>