<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

</head>

<ul class="nav justify-content-center" th:object="${userDTO}" style="margin-top: 10px">

    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           th:href="@{/api/v1/bookings/users/{userId}(userId=${userDTO.getId()})}">Мои бронирования</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/api/v1/cars/freeCars">Найти машину</a>
    </li>

    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/users/">Все пользователи</a>
    </li>


    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/bookings/">Все брони</a>
    </li>
    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/cars/">Все машины</a>
    </li>

    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/cars/creation">Добавить машину</a>
    </li>



    <form action="#" id="logout" th:action="@{/api/v1/auth/logout}" method="post"
          style="position: absolute; margin-left: 90%">
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-log-out"></span> Выход
        </button>
    </form>


</ul>

<form id="carCreationForm" th:action="@{/api/v1/admins/cars}" method="post" th:object="${carRequestDto}" class="row g-3 needs-validation" novalidate
      style="margin: 15%;margin-right: 30%;margin-left: 30%">
    <div class="col-md-5">
        <label for="name" class="form-label">Название</label>
        <input type="text" class="form-control" id="name" value="Vesta" required th:field="*{name}">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-5">
        <label for="brand" class="form-label">Марка</label>
        <input type="text" class="form-control" id="brand" value="Lada" required th:field="*{brand}">

    </div>

    <div class="col-md-4">
        <label for="typeCar" class="form-label">Тип кузова</label>
        <input type="text" class="form-control" id="typeCar" value="Sedan" required th:field="*{typeCar}">
    </div>

    <div class="col-md-4">
        <label for="tripsCount" class="form-label">Пробег</label>
        <input type="number" class="form-control" id="tripsCount" value="1000" th:field="*{tripsCount}">
    </div>

    <div class="col-md-4">
        <label for="basePrice" class="form-label">Базовая цена</label>
        <div class="input-group has-validation">
            <input type="number" class="form-control" id="basePrice" value="1000" aria-describedby="inputGroupPrepend" required th:field="*{basePrice}">
        </div>
    </div>


    <div class="col-12">
        <button class="btn btn-primary" type="submit">Зарегистрировать машину</button>
    </div>

    <div>
        <label for="carCreationForm" class="form-label" th:text="${error}" th:if="${error}!=null"></label>
    </div>
</form>

