<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

</head>

<div style="margin: 15%">
    <form action="#" th:action="@{/api/v1/auth/loginpage}" th:object="${authDto}" method="post">
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="usernameInput" th:field="*{username}">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="passwordInput" th:field="*{password}">
        </div>
        <div th:if="${!error.isEmpty()}">
            <h1 th:text="${error}"></h1>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" >Войти</button>

        </div>
    </form>
    <div style="margin-top: 10px">
    <form action="/api/v1/auth/registration" method="get">
        <button class="btn btn-primary">Регистрация</button>
    </form>
    </div>

</div>


</html>