<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<ul class="nav justify-content-center" th:object="${userDTO}" style="margin-top: 10px">

    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
           th:href="@{/api/v1/bookings/users/{userId}(userId=${userDTO.getId()})}">Мои бронирования</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/api/v1/cars/freeCars">Найти машину</a>
    </li>

    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/users/">Все пользователи</a>
    </li>


    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/bookings/">Все брони</a>
    </li>

    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/cars/">Все машины</a>
    </li>

    <li class="nav-item" th:if="${userDTO.getRole().getName()}==Admin">
        <a class="nav-link" href="/api/v1/admins/cars/creation">Добавить машину</a>
    </li>



    <form action="#" id="logout" th:action="@{/api/v1/auth/logout}" method="post"
          style="position: absolute; margin-left: 90%">
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-log-out"></span> Выход
        </button>
    </form>

</ul>
