<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

</head>
<form id="registrationForm" th:action="@{/api/v1/auth/registration}" method="post" th:object="${registrationDto}" class="row g-3 needs-validation" novalidate
      style="margin: 15%;margin-right: 30%;margin-left: 30%">
    <div class="col-md-5">
        <label for="name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="name" value="Александр" required th:field="*{firstName}">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-md-5">
        <label for="surename" class="form-label">Фамилия</label>
        <input type="text" class="form-control" id="surename" value="Петров" required th:field="*{secondName}">

    </div>

    <div class="col-md-4">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" id="username" required th:field="*{username}">
    </div>

    <div class="col-md-4">
        <label for="passwordInput" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="passwordInput" th:field="*{password}">
    </div>

    <div class="col-md-4">
        <label for="email" class="form-label">Почта</label>
        <div class="input-group has-validation">
            <input type="text" class="form-control" id="email" aria-describedby="inputGroupPrepend" required th:field="*{email}">
        </div>
    </div>


    <div class="col-12">
        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    </div>

    <div>
        <label for="registrationForm" class="form-label" th:text="${error}" th:if="${error}!=null"></label>
    </div>
</form>